* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%; 
  /* height: auto; */
  object-fit: cover; 
}
body {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}


.title {
  text-align: center;
  font-size: 40px;
  padding: 40px 0 30px 0;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 700px;
}

.slider-inner {
  /* width: 100%; */
  overflow: hidden;
  /* object-fit: contain; */
  /* max-height: 300px; */
  max-width: 500px;
  max-height: 400px;
}
.text-inner {
  width: 100%;
}

.text {
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.image {
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.9s ease-in-out;
}


/* fake slide */
input[id="slide0"]:checked~.slider-inner #img0 {
  opacity: 1;
  transform: translateX(0%);
}
input[id="slide0"]:checked~.text-inner #text0 {
  opacity: 1;
}
input[id="slide0"]:checked~.buttons-inner label[for="slide1"] {
  border: 1px solid #000;
  background-color: #8a90d7;
}

/* four slides */
input[id="slide1"]:checked~.slider-inner #img1 {
  opacity: 1;
  transform: translateY(-100%);
}
input[id="slide1"]:checked~.text-inner #text1 {
  opacity: 1;
  transform: translateY(-100%);
}
input[id="slide1"]:checked~.buttons-inner label[for="slide1"] {
  border: 1px solid #000;
  background-color: #8a90d7;
}

input[id="slide2"]:checked~.slider-inner #img2 {
  opacity: 1;
  transform: translateY(-200%);
}
input[id="slide2"]:checked~.text-inner #text2 {
  opacity: 1;
  transform: translateY(-200%);
}
input[id="slide2"]:checked~.buttons-inner label[for="slide2"] {
  border: 1px solid #000;
  background-color: #8a90d7;
}

input[id="slide3"]:checked~.slider-inner #img3 {
  opacity: 1;
  transform: translateY(-300%);
}
input[id="slide3"]:checked~.text-inner #text3 {
  opacity: 1;
  transform: translateY(-300%);
}
input[id="slide3"]:checked~.buttons-inner label[for="slide3"] {
  border: 1px solid #000;
  background-color: #8a90d7;
}

input[id="slide4"]:checked~.slider-inner #img4 {
  opacity: 1;
  transform: translateY(-400%);
}
input[id="slide4"]:checked~.text-inner #text4 {
  opacity: 1;
  transform: translateY(-400%);
}
input[id="slide4"]:checked~.buttons-inner label[for="slide4"] {
  border: 1px solid #000;
  background-color: #8a90d7;
}


.buttons-inner {
  display: flex;
  justify-content: flex-end;

  gap: 30px;
  width: 100%;
  transform: translateY(-650%);
}

.buttons-inner label {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid #8a90d7;
  background-color: transparent;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center; 

  transition: .5s all;
}
.span {
  padding: 30px;
}
.buttons-inner label:hover {
  border: 2px solid #000;
  background-color: #d3d3d0;
}
input[type="radio"] {
  display: none;
}

@media (max-width: 750px) {
  .text-inner {
    margin-top: 60px;
    width: auto;
    text-align: center;
  }
  .buttons-inner {
    justify-content: center;
    transform: translateY(-950%);
  }
}